html,
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0%;
    
}

/* HERO SECTION */

.hero {
    color: #F9FAF8;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 160px;
} 

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 120px;
    font-size: 30px;
    
}

.logo {
    /* font-size: 24px; */
    font-weight: bolder;
}

.hero-main {
    display: flex;
    gap: 30px;
    align-items: center;
    /* border: 1px solid red; */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    
}

.right {
    background-color: hsl(210, 10%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 300px;
    
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    border: 0;
    font-weight: bolder;
    padding: 7px 20px;

}

.maintext {
    margin-top: -10px;
    font-weight: bolder;
    font-size: 70px;
    
}

.subtext {
    margin-top: -70px;
    font-size: 24px;
    
    
}

.left {
    width: 800px;
    
}

/* INFORMATION SECTION  */

.information {
    background-color: #F9FAF8;
    height: 650px;
    padding: 20px;
    
}

.info-header {
    color: #1f2937;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 80px;
}

.panels {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    text-align: center;
    font-size: 25px;
    color: #4e4e4e;
    

}
.square {
    border-radius: 15px;
    border: 6px solid #3882F6;
    width: 230px;
    height: 230px;
    margin-bottom: -15px;
}

/* QUOTE SECTION  */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 550px;
    padding: 0 420px;
    
}


blockquote {
    font-style: italic;
    font-weight: -200;
    font-size: 40px;
    
}

figcaption {
    margin-top: -10px;
    font-weight: 900;
    text-align: end;
    padding-right: 120px;
    font-size: 30px;
}


/* CALL TO ACTION SECTION */

.call-to-action {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

}

.bluebox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 80px 150px;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 200px;
}

.call-button {
    border: 3px solid #F9FAF8;
    font-size: 25px;
    width: 190px;
}


.call-info {
    display: flex;
    flex-direction: column;
    padding: 0%;
    
}

.call-header {
    font-weight: 900;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.call-subtext {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    height: 100px;
    font-size: 1.3rem;
}